@model Picture
@{
    // Postavi kulturu na srpski
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("sr-RS");
    System.Threading.Thread.CurrentThread.CurrentCulture = culture;
    System.Threading.Thread.CurrentThread.CurrentUICulture = culture;
}
<div class="col-sm-4 col-lg-4 col-md-4 mb-4">
    <div class="card h-100" style="border: 2px solid lightblue;">
        <div class="card-header">
            <img src="@Model.ImageUrl" alt="" class="img-thumbnail">
        </div>
        <div class="card-body">
            <h3>
                <a asp-controller="Picture" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
            </h3>
            <h4 class="pull-right">@Model.Price.ToString("c")</h4>
            <p>Dimenzije slike: @Model.PictureWidth cm x @Model.PictureHeight cm</p>
        </div>
        <div class="card-footer">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-picId="@Model.Id">
                    Dodaj u korpu
                </a>
            </p>
        </div>
    </div>
</div>