@model ProdajaSlika.ViewModels.ShoppingCartViewModel
@{
    // Postavi kulturu na srpski
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("sr-RS");
    System.Threading.Thread.CurrentThread.CurrentCulture = culture;
    System.Threading.Thread.CurrentThread.CurrentUICulture = culture;
}
<h2>Your shopping cart</h2>
<h4>The high quality pictures are in your shopping cart!</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Picture</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-left">@item.Picture.Name</td>
                <td class="text-right">@item.Picture.Price.ToString("c")</td>
                <td class="text-center">@item.Amount</td>
                <td class="text-right">@((item.Amount * item.Picture.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">@Model.TotalPrice.ToString("c")</td>
        </tr>
    </tfoot>
</table>